---
layout: archive
title: "Teaching & Supervision"
permalink: /teaching/
author_profile: true
---

One of the most rewarding parts of my job is supervision of students. Feel free to reach out if you find anything interesting and are interested in supervision.

I am also part of the organizing committee of the [Geilo Winter Schools in eSciences](http://geilowinterschool.no/), an annual meeting place for PhD students, Postdocs, and young researchers. Hosted at the historical Dr. Holms Hotel, the school gathers leading experts to lecture on emerging topics in eSciences. In addition to scientific input, each day offers a break with ample time for networking while skiing in the mountains of Geilo.

During the fall term of 2022, I held a part-time position as associate professor (NO: førsteamanuensis) in the [mathematical modelling group](https://www.oslomet.no/en/research/research-groups/mathematical-modelling) at Oslo Metropolitan University, teaching algorithms and data structures.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
